* {
    font-family: 'Overpass', sans-serif;
}

body {
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 100px;
    display: block;
    text-align: end;
}

.nav__logo {
    float: left;
    margin: 5px 0 0 180px;
    height: 80px;
}

.nav__item {
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: .2s ease;
    margin: 40px 100px 0 0;
}

.nav__item:hover {
    color: lightcoral;
    transition: .2s ease;
}

.nav__search {
    width: 200px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin-right: 50px;
    background: #f1f1f1;
}

.intro {
    width: 100%;
    height: 700px;
    background: url("images/White-Background-121-Go.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.intro__title {
    font-size: 60px;
    max-width: 600px;
    color: rgb(78, 78, 78);
    margin: 0px 0 0 220px;
    padding: 150px 0 0;
}

.intro__subtitle {
    font-size: 20px;
    color: grey;
    margin: 20px 0 0 220px;
}

.intro__button {
    width: 300px;
    height: 50px;
    margin: 120px 0 0 220px;
    background: rgb(255, 88, 88);
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 0px 20px lightcoral;
    transition: .5s ease;
}

.intro__button:hover {
    background: rgb(255, 118, 118);
    box-shadow: 0px 0px 30px lightcoral;
    transition: .5s ease;
}

.button__text {
    width: 250px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px 0 15px;
}

.button__arrow {
    float: right;
    margin: 1px 0 0 40px;
}

.arrow__right {
    height: 15px;
    fill: white;
}

.divider {
    width: 100%;
    height: 30px;
}

.divider__line {
    margin: 0 auto;
    width: 80%;
    height: 30px;;
    border-bottom: 1px solid rgb(235, 235, 235);
    float: left
}

.divider__text {
    float: left;
    margin: 20px 15px 0;
    color: gray;
    text-decoration: none;

}

.divider__circle {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 100%;
    margin: 5px 15px 0;
    float: left;
    background: url("images/play-solid.svg") no-repeat;
    fill: rgb(255, 88, 88);
    background-size: 10px;
    background-position: center;
}

.divider__line2 {
    margin: 0 auto;
    width: 5.4%;
    height: 30px;;
    border-bottom: 1px solid rgb(235, 235, 235);
    float: left;
}

.we {
    display: inline-block;
    width: 100%;
    height: 300px;
    margin: 100px 0;
}

.we__boxes{
    margin: 0 auto;
    width: 100%;
    text-align: center;;
}

.we__title-text {
    font-size: 20px;   
    text-align: center;
}

.we__text {
    font-size: 15px;
    max-width: 300px;
    text-align: center;
    line-height: 2em;
    color: gray;
}

.we__box1 {
    margin: 50px 200px 0 0;
    padding: 5px;
    display:inline-block;
}

.we__box1 > img {
    height: 35px;
    fill: green;
}

.we__box2 {
    margin: 50px 200px 0 0;
    padding: 5px;
    display:inline-block;
}

.we__box2 > img {
    height: 35px;
}

.we__box3 {
    padding: 5px;
    display:inline-block;
}

.we__box3 > img {
    height: 35px;
}

.divider2 {
    width: 100%;
    height: 30px;
}

.divider2__line {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    max-width: 70%;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.about{
    width: 100%;
    height: 1350px;
    margin: 0 auto;
}

.about__intro {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.about__title {
    width: 100%;
    font-size: 50px;
    color: rgb(78, 78, 78);
    text-align: center;
    padding: 75px 0 10px;
}

.about__title span {
    display: block;
}

.about__text {
    font-size: 18px;
    color: rgb(172, 172, 172);
    text-align: center;
    line-height: 2em;
    padding: 0 0 50px;
}

.about__front {
    text-align: center;
    position: absolute;
}

.about__front > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
}

.about__back {
    text-align: center;
    position: absolute;
}

.about__back > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 50px;
}

.front__title {
    font-size: 18px;
    color: white;
}

.front__text {
    font-size: 14px;
    color: white;
}

.back__title {
    font-size: 18px;
    color: white;
}

.back__text {
    font-size: 14px;
    color: white;
}

.about__row1 {
    width: 100%;
    margin: auto 15%;
}

.about__row1 > div {
    margin: 0 130px;
}

.about__card1 {
    width: 300px;
    height: 250px;
    float: left;
    z-index: 10;
}

.about__card1 > .about__front {
    background-color: rgb(35, 207, 151);
    border-radius: 10px;
}

.about__card1 > .about__back {
    background-color: rgb(12, 168, 116);
    border-radius: 10px;
}

.about__card2 {
    width: 300px;
    height: 250px;
    float: left;
    z-index: 0;
}

.about__card2 > .about__front {
    background-color: rgb(248, 188, 45);
    border-radius: 10px;
}

.about__card2 > .about__back {
    background-color: rgb(216, 153, 7);
    border-radius: 10px;
}

.about__row2{
    width: 100%;
    margin: auto 0;
    clear: both;
    float: left;
    position: relative;
}

.about__row2 > div {
    margin: -19px 7% 0;
}

.about__card3 {
    width: 300px;
    height: 250px;
    float: left;
    z-index: 7;
}

.about__card3 > .about__front {
    background-color: rgb(249, 104, 104);
    border-radius: 10px;
}

.about__card3 > .about__back {
    background-color: rgb(212, 30, 30);
    border-radius: 10px;
}

.about__card4 {
    width: 300px;
    height: 250px;
    float: left;
    z-index: 9;
}

.about__card4 > .about__front {
    background-color: rgb(51, 138, 211);
    border-radius: 10px;
}

.about__card4 > .about__back {
    background-color: rgb(12, 102, 175);
    border-radius: 10px;
}

.about__card5 {
    width: 300px;
    height: 250px;
    float: left;
    z-index: 1;
}

.about__card5 > .about__front {
    background-color: rgb(251, 144, 75);
    border-radius: 10px;
}

.about__card5 > .about__back {
    background-color: rgb(214, 100, 23);
    border-radius: 10px;
}

.about__row3 {
    margin: -19px 15% 0;
    clear: both;
    float: left;
}

.about__row3 > div {
    margin: 0 130px;
}

.about__card6 {
    width: 300px;
    height: 250px;
    float: left;
    z-index: 8;
}

.about__card6 > .about__front {
    background-color: rgb(138, 147, 219);
    border-radius: 10px;
}

.about__card6 > .about__back {
    background-color: rgb(76, 90, 189);
    border-radius: 10px;
}

.about__card7 {
    width: 300px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(221, 221, 221);
    float: left;
    z-index: 11;
}

.about__button {
    width: 230px;
    height: 50px;
    margin: 75px 0 0 35px;
    color: lightcoral;
    background: white;
    border: 1px solid lightgray;
    border-radius: 50px;
    text-align: center;
    transition: .5s ease;
}

.about__button:hover {
    transition: .3s ease;
    box-shadow: 0 0 20px lightgray;
}

.about__button > a > .button__text {
    width: 180px;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    color: lightcoral;
    padding: 12px 0 !important;
}

.about__circle-arrow {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 100%;
    margin: 40px 125px;
    background: rgb(249, 104, 105) url("images/icon-arrow-right-c.svg") no-repeat;
    background-size: 10px;
    background-position: center;
    transition: .3s ease;
}

.about__circle-arrow:hover {
    transition: .3s ease;
    box-shadow: 0 0 20px lightcoral;
}

.divider3 {
    width: 100%;
    height: 30px;
}

.divider3__line {
    margin: 0 auto;
    width: 100%;
    height: 30px;
    max-width: 70%;
    align-items: center;
    border-top: 1px solid rgb(235, 235, 235);
}

.ia {
    width: 100%;
    height: 700px;
    background: white;
}

.ia__title {
    width: 30%;
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.ia__title-text span {
    display: block;
}

.ia__title-text {
    width: 50%;
    font-size: 38px;
    color: black;
    text-align: center;
    margin: auto;
    line-height: 1.3em;
}

.ia__rows {
    width: 100%;
    height: 400px;
}